large_graphs/*
new_graphs/*
vsep/*
vsep_output/*
part_graphs/*
part_output/*
*.out
output*.txt
stats*.txt
*.part*
cutter
dpsl
gpsl
psl
parts
*.tar*
mtmetis
*.swp
.vscode
gmon.out
analysis.txt
callgrind*
valgrind*