large_graphs/*
new_graphs/*
vsep/*
vsep_output/*
part_graphs/*
graphs/*
part_output/*
*.out
output*.txt
stats*.txt
*.part*
cutter
dpsl
gpsl
psl
!src/*
parts
*.tar*
mtmetis
*.swp
.vscode
.fleet
gmon.out
analysis.txt
callgrind*
valgrind*
temp.graph
temp.part
runs/*
run.log
run.res
mtmetis/*
libs/*
temp/*
deps/*